h1 {
    font-weight: bold;
    color: black;
}

p {
    font-weight: bold;
}

.errorContainer {
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

footer {
    box-shadow: 0px 5px 5px 10px #555;
    background-color: #555;
}

.footerTitle {
    font-size: 1.2vw;
    text-align: center;
    margin-top: 5px;
    color: white;
}