/*
 * CSS Styles for the application
 */

/*
 * Sets the height for html and body elements to cover the full viewport height,
 * and removes default margin and padding.
 */
html, body {
    font-family: 'Lato', sans-serif;
    height: 100%; /* Ensure the body and html elements cover the full viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/*
 * Styles for the first body background.
 * Applies a full-screen background image with centered positioning and fixed attachment.
 */
.body1 {
    font-family: 'Lato', sans-serif;
    background-image: url('/images/homeScreenImage.jpg');
    background-size: cover; /* Ensures the image covers the whole page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-attachment: fixed; /* Fixes the image relative to the viewport */
    height: 100vh; /* Ensure the body covers the viewport height */
    display: flex; /* Use flexbox to center the box */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
}

/*
 * Styles for the second body background.
 * Similar to .body1 but uses a different background image.
 */
.body2 {
    background-image: url('/images/concertHands.jpg');
    background-size: cover; /* Ensures the image covers the whole page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-attachment: fixed; /* Fixes the image relative to the viewport */
    height: 100vh; /* Ensure the body covers the viewport height */
    display: flex; /* Use flexbox to center the box */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
}

/*
 * Styles for the centered box.
 * Provides a semi-transparent background with padding and centered text.
 */
.centered-box {
    font-family: 'Lato', sans-serif;
    background-color: rgba(255, 255, 255, 0.7); /* Transparency effect */
    padding: 20px; /* Add some padding inside the box */
    text-align: center; /* Center text inside the box */
    width: 100%;
    max-height: 80%; /* Limit the box height */
    box-sizing: border-box; /* Include padding and border in the element’s total width and height */
}

/*
 * Styles for the primary text (p1).
 * Sets color, font family, size, and line height.
 */
.p1 {
    color: #333; /* Text color */
    font-family: 'Lato', sans-serif;
    font-size: 30px; /* Font size */
    line-height: 1.5; /* Line height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/*
 * Styles for the secondary text (p2).
 * Similar to p1 but with a smaller font size.
 */
.p2 {
    color: #333; /* Text color */
    font-family: 'Lato', sans-serif;
    font-size:  16px; /* Font size */
    line-height: 1.5; /* Line height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Style for the buttons */
button.btn {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

button.btn-primary {
    background-color: #F4A460; /*  primary buttons */
    border-color: #F4A460;
    color: white;
}

button.btn-primary:hover {
    background-color: #C19A6B; /*  on hover */
}

