.btnCol {
    align-self: center;
    text-align: left;
}

h1 {
    font-weight: bold;
}

.addSongBtn {
    background-color: #007bff !important;
}

.addSongBtn:hover {
    background-color: #0056b3 !important;
}

#deleteSongBtn {
    margin-right: 0;
}

footer {
    box-shadow: 0px 5px 5px 10px #555;
    background-color: #555;
}

.footerTitle {
    font-size: 1.2vw;
    text-align: center;
    margin-top: 5px;
    color: white;
}