.btnCol {
    align-self: center;
    text-align: left;
}

h1 {
    font-weight: bold;
}

.addSongBtn {
    background-color: #cfa469 !important;
}

.addSongBtn:hover {
    background-color: #dc6a23 !important;
}

#deleteSongBtn {
    margin-right: 0;
}

footer {
    box-shadow: 0px 5px 5px 10px #555;
    background-color: #555;
}

.footerTitle {
    font-size: 1.2vw;
    text-align: center;
    margin-top: 5px;
    color: white;
}

@media (max-width: 768px) {
    .song-info {
        display: flex;
        flex-direction: column; /* Stack image and details vertically */
        width: 100%; /* Ensure it fits within the container */
        gap: 10px;
    }

    .songImg {
        width: 100%; /* Make the image responsive */
        max-width: 150px;
        height: auto; /* Maintain aspect ratio */
        margin: 0 auto;
    }

    .song-details {
        display: flex;
        flex-direction: column; /* Stack text vertically */
        gap: 5px;
        width: 100%;
    }

    .preview-link {
        margin-top: 5px;
        align-self: flex-start;
    }

    .btn-primary {
        margin-top: 10px;
        width: 100%; /* Make the button full-width */
    }
}