<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script>
        function validatePassword() {
            var password = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            // Check if the passwords match
            if (password !== confirmPassword) {
                document.getElementById("passwordError").innerHTML = "Passwords do not match!";
                return false; // Prevent form submission
            } else {
                document.getElementById("passwordError").innerHTML = ""; // Clear error if passwords match
            }
            return true;
        }
    </script>
</head>
<body class="body2">
<div class="centered-box">
    <h2>Change Password</h2>
    <form th:action="@{/changePassword}" method="post" th:object="${NewPasswordForm}" onsubmit="return validatePassword();">
        <label for="newPassword">New Password:</label><br>
        <input type="password" id="newPassword" name="newPassword" placeholder="New Password" minlength="8" required><br><br>

        <label for="confirmPassword">Confirm New Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Retype New Password" required><br><br>

        <!-- Display error message if passwords don't match -->
        <span id="passwordError" style="color:red;"></span><br>
        <button type="submit">Update Password</button>
    </form>
</div>
</body>
</html>