<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="body2">
<div class="centered-box">
    <button type="button" onclick="goBack()">Back</button>
    <h2>Change Password</h2>
    <form th:action="@{/changePasswordLoggedIn}" method="post" th:object="${NewPasswordForm}" onsubmit="return validatePassword();">
        <!-- Old Password -->
        <label for="oldPassword">Old Password:</label><br>
        <input type="password" id="oldPassword" name="oldPassword" placeholder="Old Password" required><br><br>

        <label for="newPassword">New Password:</label><br>
        <input type="password" id="newPassword" name="newPassword" placeholder="New Password" minlength="8" required><br><br>

        <label for="confirmPassword">Confirm New Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Retype New Password" required><br><br>

        <!-- Display error message if passwords don't match -->
        <!-- Missing passwordError span -->
        <span id="passwordError" style="color:red;"></span><br>

        <!-- Display error message if passwords don't match -->
        <!-- Error Message Display -->
        <div th:if="${error}" style="color:red;">
            <p th:text="${error}"></p>
        </div>
        <button type="submit">Update Password</button>
    </form>
</div>
<script src="/js/changePasswordLoggedIn.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>