<!DOCTYPE HTML>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <title>Login</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="body2">
<div class="centered-box">
  <h2>Login</h2>
  <div style="color: red;" th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
  </div>
  <!-- Display error message if present -->
  <div style="color: red;" th:if="${errorMsg}">
    <p th:text="${errorMsg}"></p>
  </div>

  <form method="post" th:action="@{/login}" th:object="${loginForm}">
    <label for="username">Username:</label><br>
    <input id="username" placeholder="Username" required th:field="*{username}" type="text"><br><br>

    <label for="password">Password:</label><br>
    <input id="password" placeholder="Password" required th:field="*{password}" type="password"><br><br>

    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="/register">Register</a> to continue!</p>
  <p><a href="/changePasswordEmail">Forgot Password?</a></p>
</div>
</body>
