<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/playlistPage.css">
</head>
<body>
  <!--NAV BAR-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">initMusic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/playlists">Playlists</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 th:text="${playlistName}"></h1>
  <p th:text="'Created by: '+${playlistAuthor}"></p>

  <div class="list-group playlistItem">
    <div class="list-group-item-container" th:each="song : ${playlistSongs}">
      <div class="list-group-item list-group-item-action">
        <!-- Image for the song -->
        <img class="songImg" th:src="${song.getSongImg()}" alt="Image for ${item}" />

        <!-- Text for the song -->
        <span class="songText" th:value="${song}" th:text="${song}"></span>
        <span th:text="${(song.getLength() / 60) + ' min. ' + (song.getLength() % 60) + ' sec.'}"></span>
        <!-- Preview link -->
        <a class="songPreview" th:href="${song.getSongPreview()}">Preview</a>

        <!-- Button trigger modal for deleting a song from playlist -->
        <button type="button" class="btn btn-primary dropdown-item" data-bs-toggle="modal"
                data-bs-target="#deleteSongModal"
                th:data-playlist-name="${playlistName}"
                th:data-playlist-id="${playlistID}"
                th:data-song-name="${song.getSongName()}"
                th:data-song-id="${song.getSongID()}">
          Remove
        </button>
      </div>
    </div>
  </div>

  <!-- Modal for deleting a playlist -->
  <div class="modal fade" id="deleteSongModal" tabindex="-1" aria-labelledby="deleteSongModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteSongModalLabel">Delete Song</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete (Song name) from (Playlist name)?
        </div>
        <form th:action="@{/deleteSongFromPlaylist}" method="post" th:object="${deleteSongFromPlaylistForm}">
          <input type="hidden" id="playlistID" th:field="*{playlistID}">
          <input type="hidden" id="songID" th:field="*{songID}">

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="submit" class="btn btn-primary">Yes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="/js/viewPlaylistPage.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>